<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>
<% switch(style) {
    case '1': %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme1.css" />
    <% break;
    case '2': %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme2.css" />
    <% break;
    case '3': %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/theme3.css" />
    <% break;
    default: %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <%
  } %>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <form action="/changeStyle" method="POST">
        <select id="css_style" name="css_style">
            <option value='0'>
              Default (Blue)
            </option>
            <option value='1'>
              Style 1 (Green)
            </option>
            <option value='2'>
              Style 2 (Purple)
            </option>
            <option value='3'>
              Style 3 (Orange)
            </option>
          </select>
        <button type="submit">Change Style</button>
    </form>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>
