<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
This is input 1: <%= input1 %>
<br>
This is input 2: <%= input2 %>
</body>
</html>