<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../../includes/header.ejs %>
  </head>
  <!-- This is the solution for the templating side of TA02-->
  <body>
    <% include ../../../includes/nav.ejs %>
This is input 1: <%= input1 %>
<br>
This is input 2: <%= input2 %>
</body>
</html>