<!DOCTYPE html>
<html>
<head>
  <% include ../includes/header.ejs %>
</head>
<!-- This is the solution for the templating side of TA02-->
<body>
  <% include ../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
  </div>
</div>
<div class="container">
    <div>
        <!-- Looped List for requirement 01-->
          <p><%= err %></p>
        <!-- Looped List for requirement 01-->
    </div>
</div>
</body>
</html>